@model IEnumerable<lppa.equipo._4.Data.Model.Artist>
@{
    ViewBag.Title = "Index";
}


@*@Enumerable.Count(Model)
@foreach (var item in Model)
{
    <span>@item.FirstName</span>
    <br>
    <span>@item.LastName</span>
    <br>
}
<div>
    <table>
        <tr>
            <th>
                FirstName
            </th>
            <td>
                <input id="txtFirstName" type="text" placeholder="Nombre" />
            </td>
        </tr>
        <tr>
            <th>LastName</th>
            <td> <input id="txtLastName" type="text" placeholder="Apellido" /> </td>
        </tr>
        <tr>
            <th>LifeSpan</th>
            <td> <input id="txtLifeSpan" type="text" placeholder="Años" /> </td>
        </tr>
        <tr>
            <th>Country</th>
            <td> <input id="txtCountry" type="text" placeholder="Pais" /> </td>
        </tr>
        <tr>
            <th>Description</th>
            <td> <input id="txtDescription" type="text" placeholder="Descripcion" /> </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input type="button" value="Grabar" id="btnSave" class="myButton" />
                <input type="button" value="Actualizar" id="btnUpDate" class="myButton" />
                <input type="button" value="Borrar" id="btnDelete" class="myButton" />
                <input type="button" value="Listar" id="btnToList" class="myButton" />
            </td>
        </tr>
    </table>

</div>

@section scripts
{

    <script>



        $("#btnSave").click(function () {

            @{

            }

        });

        $("#btnUpDate").click(function () {



        });

        $("#btnDelete").click(function () {



        });

        $("#btnToList").click(function () {



        });

    </script>*@
    <div class="post">
        <h2>Artistas</h2>
        <p class="byline">Hay un total de @Enumerable.Count(Model) Artista</p>
        <p>
            <a href="/Artist/Create" class="btn-input">Nuevo Artista</a>
        </p>

        <div>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.LifeSpan)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalProducts)
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.LifeSpan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalProducts)
                        </td>

                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>
        
